# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- What is IBM Watson Studio
- Linking GitHub to Watson Studio
- Jupyter Notebook in Watson Studio
- Open source tools for data science

Some of the popular languages that Data Scientists use are:
1. Python
1. SQL
1. R Language

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|------------------|
|MySQL|
|PostgreSQL|
|Hadoop File System|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Marissa Hollins