In [1]:
import pandas as pd

df_hindi=pd.read_csv('IndianFoodDatasetCleaned.csv') 
df_hindi.head()

,Srno,PrepTimeInMins,CookTimeInMins,TotalTimeInMins,Servings,Cuisine,Course,Diet
0,1,15.0,30.0,45.0,6.0,Indian,Side Dish,Diabetic Friendly
1,2,5.0,10.0,15.0,3.0,South Indian Recipes,Main Course,Vegetarian
2,3,20.0,30.0,50.0,4.0,South Indian Recipes,South Indian Breakfast,High Protein Vegetarian
3,4,15.0,30.0,45.0,4.0,Andhra,Lunch,Non Vegeterian
4,5,10.0,20.0,30.0,4.0,Andhra,South Indian Breakfast,Vegetarian

In [2]:
df_hindi.isna().sum()

Srno               0
PrepTimeInMins     4
CookTimeInMins     7
TotalTimeInMins    9
Servings           5
Cuisine            0
Course             0
Diet               0
dtype: int64

In [3]:
df_hindi['PrepTimeInMins'].mean()

28.72476927657041

In [4]:
df_hindi['CookTimeInMins'].mean()

30.7728965003723

In [5]:
df_hindi['TotalTimeInMins'].mean()

59.4477878742738

In [6]:
df_hindi['Servings'].mean()

5.636444841447075

In [7]:
import numpy as np
df_hindi=df_hindi.replace('Nan',np.nan)
df_hindi['PrepTimeInMins'] = df_hindi['PrepTimeInMins'].fillna(29)
df_hindi

df_hindi['CookTimeInMins'] = df_hindi['CookTimeInMins'].fillna(31)
df_hindi

df_hindi['TotalTimeInMins'] = df_hindi['TotalTimeInMins'].fillna(59)
df_hindi

df_hindi['Servings'] = df_hindi['Servings'].fillna(6)
df_hindi

,Srno,PrepTimeInMins,CookTimeInMins,TotalTimeInMins,Servings,Cuisine,Course,Diet
0,1,15.0,30.0,45.0,6.0,Indian,Side Dish,Diabetic Friendly
1,2,5.0,10.0,15.0,3.0,South Indian Recipes,Main Course,Vegetarian
2,3,20.0,30.0,50.0,4.0,South Indian Recipes,South Indian Breakfast,High Protein Vegetarian
3,4,15.0,30.0,45.0,4.0,Andhra,Lunch,Non Vegeterian
4,5,10.0,20.0,30.0,4.0,Andhra,South Indian Breakfast,Vegetarian
...,...,...,...,...,...,...,...,...
6717,13826,29.0,31.0,59.0,6.0,South Indian Recipes,World Breakfast,High Protein Vegetarian
6718,13834,5.0,25.0,35.0,3.0,Awadhi,Lunch,Vegetarian
6719,13862,15.0,30.0,15.0,4.0,turmeric powder,Lunch,Non Vegeterian
6720,13887,15.0,10.0,70.0,2.0,Indian,add sambar powder,Vegetarian
6721,14030,30.0,20.0,50.0,4.0,Oriya Recipes,Main Course,Eggetarian

In [8]:
df_hindi.isnull().sum()

Srno               0
PrepTimeInMins     0
CookTimeInMins     0
TotalTimeInMins    0
Servings           0
Cuisine            0
Course             0
Diet               0
dtype: int64

In [9]:
df_hindi['Course'].value_counts()

Course
Lunch                      1719
Side Dish                   972
Snack                       865
Dinner                      769
Dessert                     641
Appetizer                   620
Main Course                 307
South Indian Breakfast      258
World Breakfast             254
North Indian Breakfast      117
Indian Breakfast            100
Vegetarian                   47
One Pot Dish                 33
High Protein Vegetarian       7
Brunch                        4
Vegan                         3
Non Vegeterian                2
Eggetarian                    1
Sugar Free Diet               1
 kashmiri chilli powder       1
 add sambar powder            1
Name: count, dtype: int64

In [10]:
df_hindi[df_hindi['Course']=='High Protein Vegetarian']
df_hindi.drop([3302,4073,6517], inplace=True)
df_hindi[df_hindi['Course']=='High Protein Vegetarian']
df_hindi.drop([10,2463,2464,3301], inplace=True)

In [11]:
df_hindi['Course'].value_counts()

Course
Lunch                      1719
Side Dish                   972
Snack                       865
Dinner                      769
Dessert                     641
Appetizer                   620
Main Course                 307
South Indian Breakfast      258
World Breakfast             254
North Indian Breakfast      117
Indian Breakfast            100
Vegetarian                   47
One Pot Dish                 33
Brunch                        4
Vegan                         3
Non Vegeterian                2
Eggetarian                    1
Sugar Free Diet               1
 kashmiri chilli powder       1
 add sambar powder            1
Name: count, dtype: int64

In [12]:
df_hindi[df_hindi['Course']=='Vegan']
df_hindi.drop([3474,4963,6578], inplace=True)

In [13]:
df_hindi[df_hindi['Course']=='Non Vegeterian']
df_hindi.drop([167,2408], inplace=True)

In [14]:
df_hindi[df_hindi['Course']=='Eggetarian']
df_hindi.drop(423, inplace=True)

In [15]:
df_hindi[df_hindi['Course']=='Sugar Free Diet']
df_hindi.drop(5873, inplace=True)

In [16]:
df_hindi[df_hindi['Course']==' kashmiri chilli powder']
df_hindi.drop(6716, inplace=True)

In [17]:
df_hindi[df_hindi['Course']==' add sambar powder']
df_hindi.drop(6720, inplace=True)

In [18]:
df_course2 = df_hindi[df_hindi['Cuisine']=='Appetizer'].index

In [19]:
df_course3 = df_hindi[df_hindi['Cuisine']==' garam masala'].index

In [20]:
df_course4 = df_hindi[df_hindi['Cuisine']==' add the mutton'].index

In [21]:
df_course5 = df_hindi[df_hindi['Cuisine']==' oil'].index

In [22]:
df_course6 = df_hindi[df_hindi['Cuisine']==' turmeric powder'].index
df_course7 = df_hindi[df_hindi['Cuisine']=='Brunch'].index

In [23]:
df_hindi.drop(df_course2, inplace=True)

In [24]:
df_hindi.drop(df_course3, inplace=True)

In [25]:
df_hindi.drop(df_course4, inplace=True)

In [26]:
df_hindi.drop(df_course5, inplace=True)

In [27]:
df_hindi.drop(df_course6, inplace=True)

In [28]:
df_hindi.drop(df_course7, inplace=True)

In [29]:
df_course = df_hindi[df_hindi['Course']=='Vegetarian'].index
df_hindi.drop(df_course, inplace=True)
df_hindi['Course'].value_counts()
df_hindi.reset_index(inplace=True)
df_hindi.head()

,index,Srno,PrepTimeInMins,CookTimeInMins,TotalTimeInMins,Servings,Cuisine,Course,Diet
0,0,1,15.0,30.0,45.0,6.0,Indian,Side Dish,Diabetic Friendly
1,1,2,5.0,10.0,15.0,3.0,South Indian Recipes,Main Course,Vegetarian
2,2,3,20.0,30.0,50.0,4.0,South Indian Recipes,South Indian Breakfast,High Protein Vegetarian
3,3,4,15.0,30.0,45.0,4.0,Andhra,Lunch,Non Vegeterian
4,4,5,10.0,20.0,30.0,4.0,Andhra,South Indian Breakfast,Vegetarian

In [30]:
df_hindi.drop(['index'], axis=1, inplace=True)
df_hindi.head()

,Srno,PrepTimeInMins,CookTimeInMins,TotalTimeInMins,Servings,Cuisine,Course,Diet
0,1,15.0,30.0,45.0,6.0,Indian,Side Dish,Diabetic Friendly
1,2,5.0,10.0,15.0,3.0,South Indian Recipes,Main Course,Vegetarian
2,3,20.0,30.0,50.0,4.0,South Indian Recipes,South Indian Breakfast,High Protein Vegetarian
3,4,15.0,30.0,45.0,4.0,Andhra,Lunch,Non Vegeterian
4,5,10.0,20.0,30.0,4.0,Andhra,South Indian Breakfast,Vegetarian

In [31]:
df_hindi['CookTimeInMins'].mean()

30.901383042693926

In [32]:
df_hindi['Course'].nunique()

13

In [33]:
df_hindi['Cuisine'].nunique()

73

In [34]:
df_hindi['Diet'].value_counts()

Diet
Vegetarian                     4571
High Protein Vegetarian         673
Non Vegeterian                  416
Eggetarian                      334
Diabetic Friendly               249
High Protein Non Vegetarian     216
No Onion No Garlic Sattvic       70
Vegan                            61
Gluten Free                      48
Sugar Free Diet                  14
Name: count, dtype: int64

In [35]:
df_hindi['Cuisine'].unique()

array(['Indian', 'South Indian Recipes', 'Andhra', 'Udupi', 'Mexican',
       'Continental', 'Bengali Recipes', 'Punjabi', 'Chettinad',
       'Tamil Nadu', 'Maharashtrian Recipes', 'Fusion',
       'North Indian Recipes', 'Italian Recipes', 'Sindhi', 'Thai',
       'Chinese', 'Kerala Recipes', 'Gujarati Recipes', 'Coorg',
       'Rajasthani', 'Asian', 'Middle Eastern', 'Coastal Karnataka',
       'European', 'Kashmiri', 'Karnataka', 'Lucknowi', 'Hyderabadi',
       'Goan Recipes', 'Arab', 'Assamese', 'Bihari', 'Malabar',
       'Himachal', 'Awadhi', 'Cantonese', 'North East India Recipes',
       'Sichuan', 'Mughlai', 'Japanese', 'Mangalorean', 'Vietnamese',
       'British', 'North Karnataka', 'Parsi Recipes', 'Greek', 'Nepalese',
       'Oriya Recipes', 'French', 'Indo Chinese', 'Konkan',
       'Mediterranean', 'Sri Lankan', 'Haryana', 'Uttar Pradesh',
       'Malvani', 'Indonesian', 'African', 'Korean', 'American',
       'Kongunadu', 'Pakistani', 'Caribbean', 'South Karnataka',
       'Uttarakhand-North Kumaon', 'Malaysian', 'Hunan', 'Jewish',
       'Burmese', 'Afghan', 'Jharkhand', 'Nagaland'], dtype=object)

In [36]:
df_hindi['Cuisine'].replace('Andhra', 'South Indian', inplace= True)
df_hindi['Cuisine'].replace('Udupi', 'SouthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('Continental', 'European', inplace= True)
df_hindi['Cuisine'].replace('Bengali Recipes', 'South Asian', inplace= True)
df_hindi['Cuisine'].replace('Punjabi', 'South Asian', inplace= True)
df_hindi['Cuisine'].replace('Chettinad', 'South Indian', inplace= True)
df_hindi['Cuisine'].replace('Tamil Nadu', 'South Indian', inplace= True)
df_hindi['Cuisine'].replace('Maharashtrian Recipes', 'West Indian', inplace= True)
df_hindi['Cuisine'].replace('Sindhi', 'Pakistani', inplace= True)
df_hindi['Cuisine'].replace('Kerala Recipes', 'SouthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('Gujarati Recipes', 'West Indian', inplace= True)
df_hindi['Cuisine'].replace('Coorg', 'SouthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('Rajasthani', 'NorthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('Coastal Karnataka', 'SouthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('Kashmiri', 'North Indian', inplace= True)
df_hindi['Cuisine'].replace('Karnataka', 'SouthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('Lucknowi', 'North Indian', inplace= True)
df_hindi['Cuisine'].replace('South Indian Recipes', 'South Indian', inplace= True)
df_hindi['Cuisine'].replace('North Indian Recipes', 'North Indian', inplace= True)
df_hindi['Cuisine'].replace('Hyderabadi', 'South Indian', inplace= True)
df_hindi['Cuisine'].replace('Goan Recipes', 'SouthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('Assamese', 'NorthEast Indian', inplace= True)
df_hindi['Cuisine'].replace('Bihari', 'East Indian', inplace= True)
df_hindi['Cuisine'].replace('Malabar', 'SouthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('Himachal', 'North Indian', inplace= True)
df_hindi['Cuisine'].replace('Awadhi', 'North Indian', inplace= True)
df_hindi['Cuisine'].replace('North East India Recipes', 'NorthEast Indian', inplace= True)
df_hindi['Cuisine'].replace('Sichuan', 'Chinese', inplace= True)
df_hindi['Cuisine'].replace('Mughlai', 'North Indian', inplace= True)
df_hindi['Cuisine'].replace('Mangalorean', 'SouthWest Indian', inplace= True)
df_hindi['Cuisine'].replace('British', 'European', inplace= True)
df_hindi['Cuisine'].replace('North Karnataka', 'SouthWest Indian', inplace= True) 
df_hindi['Cuisine'].replace('Parsi Recipes', 'Persian', inplace= True)
df_hindi['Cuisine'].replace('Nepalese', 'South Asian', inplace= True)
df_hindi['Cuisine'].replace('Oriya Recipes', 'East Indian', inplace= True)
df_hindi['Cuisine'].replace('French', 'European', inplace= True)
df_hindi['Cuisine'].replace('Indo Chinese', 'Chinese', inplace= True)
df_hindi['Cuisine'].replace('Konkan', 'West Indian', inplace= True)
df_hindi['Cuisine'].replace('Sri Lankan', 'South Asian', inplace= True)
df_hindi['Cuisine'].replace('Haryana', 'North Indian', inplace= True)
df_hindi['Cuisine'].replace('Uttar Pradesh', 'North Indian', inplace= True)
df_hindi['Cuisine'].replace('Malvani', 'West Indian', inplace= True)
df_hindi['Cuisine'].replace('Indonesian', 'SouthEast Asian', inplace= True)
df_hindi['Cuisine'].replace('Kongunadu', 'South Indian', inplace= True)
df_hindi['Cuisine'].replace('South Karnataka', 'South Indian', inplace= True)
df_hindi['Cuisine'].replace('Uttarakhand-North Kumaon', 'East Indian', inplace= True)
df_hindi['Cuisine'].replace('Malaysian', 'SouthEast Asian', inplace= True)
df_hindi['Cuisine'].replace('Hunan', 'Chinese', inplace= True)
df_hindi['Cuisine'].replace('Burmese', 'SouthEast Asian', inplace= True)
df_hindi['Cuisine'].replace('Jharkhand', 'East Indian', inplace= True)
df_hindi['Cuisine'].replace('Nagaland', 'NorthEast Indian', inplace= True)

In [37]:
df_hindi

,Srno,PrepTimeInMins,CookTimeInMins,TotalTimeInMins,Servings,Cuisine,Course,Diet
0,1,15.0,30.0,45.0,6.0,Indian,Side Dish,Diabetic Friendly
1,2,5.0,10.0,15.0,3.0,South Indian,Main Course,Vegetarian
2,3,20.0,30.0,50.0,4.0,South Indian,South Indian Breakfast,High Protein Vegetarian
3,4,15.0,30.0,45.0,4.0,South Indian,Lunch,Non Vegeterian
4,5,10.0,20.0,30.0,4.0,South Indian,South Indian Breakfast,Vegetarian
...,...,...,...,...,...,...,...,...
6647,13386,29.0,30.0,59.0,2.0,European,Snack,Vegetarian
6648,13663,60.0,31.0,40.0,6.0,Indian,Dessert,Eggetarian
6649,13826,29.0,31.0,59.0,6.0,South Indian,World Breakfast,High Protein Vegetarian
6650,13834,5.0,25.0,35.0,3.0,North Indian,Lunch,Vegetarian
6651,14030,30.0,20.0,50.0,4.0,East Indian,Main Course,Eggetarian

In [38]:
df_hindi['Cuisine'].nunique()

32

In [39]:
df_hindi['Diet'].nunique()

10

In [40]:
df_hindi.groupby('Cuisine')[('Servings')].mean()

Cuisine
Afghan              3.333333
African             3.647059
American            6.571429
Arab                3.500000
Asian               3.794118
Cantonese           4.166667
Caribbean           5.000000
Chinese             4.100000
East Indian         3.926471
European            5.159284
Fusion              3.872180
Greek               4.000000
Indian              5.811881
Italian Recipes     6.247788
Japanese            4.076923
Jewish              3.000000
Korean              3.000000
Mediterranean       4.178571
Mexican             4.194915
Middle Eastern      4.040000
North Indian        4.520586
NorthEast Indian    3.479167
NorthWest Indian    8.272727
Pakistani           4.477273
Persian             4.250000
South Asian         3.895683
South Indian        7.502388
SouthEast Asian     3.400000
SouthWest Indian    4.235632
Thai                3.984848
Vietnamese          3.600000
West Indian         6.201893
Name: Servings, dtype: float64

In [41]:
df_hindi.groupby('Course')[('Servings')].mean()

Course
Appetizer                  6.817447
Brunch                     4.000000
Dessert                    6.107644
Dinner                     4.992188
Indian Breakfast           3.730000
Lunch                      3.902212
Main Course                4.785016
North Indian Breakfast     3.777778
One Pot Dish               3.818182
Side Dish                  6.415036
Snack                      4.726535
South Indian Breakfast    14.202335
World Breakfast            3.370079
Name: Servings, dtype: float64

In [42]:
df_hindi.groupby('Diet')[('Servings')].mean()

Diet
Diabetic Friendly              3.987952
Eggetarian                     4.655689
Gluten Free                    3.750000
High Protein Non Vegetarian    5.004630
High Protein Vegetarian        7.824666
No Onion No Garlic Sattvic     5.571429
Non Vegeterian                 3.961538
Sugar Free Diet                3.285714
Vegan                          4.278689
Vegetarian                     5.358346
Name: Servings, dtype: float64

In [43]:
df_hindi.groupby('Cuisine')[('CookTimeInMins')].mean()

Cuisine
Afghan              15.000000
African             40.000000
American            42.857143
Arab                40.000000
Asian               26.250000
Cantonese           26.666667
Caribbean           38.750000
Chinese             28.909091
East Indian         37.426471
European            37.970782
Fusion              31.887218
Greek               35.588235
Indian              26.027003
Italian Recipes     44.017699
Japanese            24.230769
Jewish              45.000000
Korean              30.000000
Mediterranean       26.857143
Mexican             30.237288
Middle Eastern      34.400000
North Indian        32.187557
NorthEast Indian    23.020833
NorthWest Indian    32.983471
Pakistani           33.522727
Persian             33.068182
South Asian         34.784173
South Indian        26.291309
SouthEast Asian     23.333333
SouthWest Indian    28.540230
Thai                26.287879
Vietnamese          24.700000
West Indian         26.671924
Name: CookTimeInMins, dtype: float64

In [44]:
df_hindi.groupby('Cuisine')[('PrepTimeInMins')].mean()

Cuisine
Afghan              15.000000
African             15.000000
American            26.428571
Arab                15.000000
Asian               14.264706
Cantonese           19.166667
Caribbean           26.250000
Chinese             22.318182
East Indian         73.867647
European            30.161169
Fusion              26.691729
Greek               87.352941
Indian              25.098110
Italian Recipes     20.553097
Japanese            18.461538
Jewish              15.000000
Korean              20.000000
Mediterranean       15.000000
Mexican             23.042373
Middle Eastern      43.900000
North Indian        27.479414
NorthEast Indian    25.416667
NorthWest Indian    15.429752
Pakistani           19.522727
Persian             13.409091
South Asian         28.298561
South Indian        32.166189
SouthEast Asian     13.666667
SouthWest Indian    38.892720
Thai                14.848485
Vietnamese          13.500000
West Indian         23.082019
Name: PrepTimeInMins, dtype: float64

In [45]:
df_hindi.groupby('Cuisine')[('PrepTimeInMins')].mean()/df_hindi['CookTimeInMins'].mean()*100

Cuisine
Afghan               48.541517
African              48.541517
American             85.525529
Arab                 48.541517
Asian                46.162031
Cantonese            62.025271
Caribbean            84.947654
Chinese              72.223893
East Indian         239.043175
European             97.604592
Fusion               86.377135
Greek               282.682950
Indian               81.220021
Italian Recipes      66.511901
Japanese             59.743405
Jewish               48.541517
Korean               64.722022
Mediterranean        48.541517
Mexican              74.567448
Middle Eastern      142.064839
North Indian         88.926164
NorthEast Indian     82.250903
NorthWest Indian     49.932238
Pakistani            63.177519
Persian              43.393174
South Asian          91.577005
South Indian        104.093040
SouthEast Asian      44.226715
SouthWest Indian    125.860775
Thai                 48.051198
Vietnamese           43.687365
West Indian          74.695747
Name: PrepTimeInMins, dtype: float64

In [46]:
df_hindi.to_csv('IndianCuisineAnalysis.csv')